<p>Start: <%= @start %></p>
<p>End: <%= @end %></p>
<p><%= (@end - @start).to_f %> days</p>

<p>People: <%= @people %></p>
<p>
Prefered Time Slots:
<% @prefered_slots.each do |person, slot| %>
<ul>
  <li><%= person %>: <%= @slots[slot] %></li>
</ul>
<% end %>
</p>


<% for week in 0..(@weeks-1) %>
<table class="table table-striped">
  <thead>
  <tr>
    <th> Week:<%= week %> </th>
    <% for day in [1,2,3,4,5] %>
    <th> <%= (@start + (week*7).days + day.days).strftime("%A - %m/%d/%Y") %> </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Morning</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Afternoon</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<% end %>


