<!-- <p>Start: <%= @start %></p> -->
<!-- <p>End: <%= @end %></p> -->
<!-- <p><%= (@end - @start).to_f %> days</p> -->

<!--
<p>People: <%= @people %></p>
<p>
Preferred Time Slots:
<% @preferred_slots.each do |person, slot| %>
<ul>
  <li><%= person %>: <%= @slots[slot] %></li>
</ul>
<% end %>
</p>
-->

<h2>People</h2>
<hr/>

<form class="form-inline" role="form" action="/" id="people_form" method="post">
  <% for person_id in 0..9 %>
  <div class="form-group">

    <!-- <label for="person_name_<%= person_id %>">Person <%= person_id %></label> -->
    <input type="text" class="form-control" name="person[name[<%= person_id %>]]" id="person_name_<%= person_id %>" placeholder="<%= @people.try(:[], person_id) %>" value="<%= @people.try(:[], person_id) %>">

    <!-- <label for="person_shift_<%= person_id %>">Preferred Shift <%= person_id %></label> -->
    <select name="person[shift[<%= person_id %>]]" id="person_shift_<%= person_id %>">

      <% @slots.each_with_index do |slot, index| %>
      <option value="<%= index %>" <%= 'selected="selected"' if @preferred_slots.try(:[], person_id).try(:[], 1) == index %>><%= slot %></option>
      <% end %>

    </select>

  </div>
  <% end %>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<% counts = {} %>
<% @people.each do |person| %>
<% counts[person] = 0 %>
<% end %>

<h2>Weekly Schedule</h2>
<hr/>

<% for week in 0..(@weeks+3) %>
<%# for week in 0..27 %>

<p>
  <!-- <b>Double Timers:</b> <%#= @shift.on_point(week).join(", ") %> -->
  <!-- <div class="btn-group"> -->
  <!--   <button type="button" class="btn btn-default disabled"> -->
  <!--   Double Timers -->
  <!--   </button> -->
  <!-- </div> -->
  <div class="btn-group">
    <% @people.each do |person| %>
    <button type="button" class="btn <%= @shift.on_point(week).include?(person) ? "btn-info" : "btn-default" %>">
    <%= person %>
    </button>
    <% end %>
  </div>
</p>

<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th> Week:<%= week %> </th>
    <% for day in [1,2,3,4,5] %>
    <th> <%= (@start + (week*7).days + day.days).strftime("%A - %m/%d/%Y") %> </th>
    <% end %>
  </tr>
  </thead>
  <% shift_slots = @shift.schedule(week) %>
  <% shift_slots.each do |person| %>
  <% counts[person] += 1 %>
  <% end %>
  <tbody>
    <tr>
      <td>Morning</td>
      <td><%= shift_slots[0] %></td>
      <td><%= shift_slots[2] %></td>
      <td><%= shift_slots[4] %></td>
      <td><%= shift_slots[6] %></td>
      <td><%= shift_slots[8] %></td>
    </tr>
    <tr>
      <td>Afternoon</td>
      <td><%= shift_slots[1] %></td>
      <td><%= shift_slots[3] %></td>
      <td><%= shift_slots[5] %></td>
      <td><%= shift_slots[7] %></td>
      <td><%= shift_slots[9] %></td>
    </tr>
  </tbody>
</table>

<% end %>

<%= counts %>


