
<div class="row">
<div class="col-md-12">

<h2>People</h2>
<hr/>

<form class="form-horizontal" role="form" action="/" id="people_form" method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="year">Year</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="year" id="year" value="<%= @year %>">
    </div>
    <p class="help-block">Begining the first week in this year</p>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="weeks">Weeks</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="weeks" id="weeks" value="<%= @weeks %>">
    </div>
    <p class="help-block">Shifts even out every 28 weeks for 7 people</p>
  </div>

  <% for person_id in 0..9 %>
  <div class="form-group">

    <label class="col-sm-2 control-label" for="person_name_<%= person_id %>">Person <%= person_id %></label>
    <div class="col-sm-2">
    <input type="text" class="form-control" name="person[name[<%= person_id %>]]" id="person_name_<%= person_id %>" placeholder="<%= @people.try(:[], person_id) %>" value="<%= @people.try(:[], person_id) %>">

    <label class="sr-only" for="person_shift_<%= person_id %>">Preferred Shift <%= person_id %></label>
    </div>
    <div class="col-sm-3">
    <select class="form-control" name="person[shift[<%= person_id %>]]" id="person_shift_<%= person_id %>">

      <% @slots.each_with_index do |slot, index| %>
      <option value="<%= index %>" <%= 'selected="selected"' if @preferred_slots.try(:[], person_id).try(:[], 1) == index %>><%= slot %></option>
      <% end %>

    </select>
    </div>

  </div>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Refresh</button>
    </div>
  </div>
</form>

</div>
</div>

<% if @shifts.present? %>

<div class="row">
<div class="col-md-12">

<h2>Weekly Schedule</h2>
<hr/>

<dl class="dl-horizontal">
  <dt>Start</dt>
  <dd><%= @start %></dd>
  <dt>End</dt>
  <dd><%= @end %></dd>
  <dt>Rotating Shifts</dt>
  <dd>
  <%= @shift.rotating_shifts.collect{|i| @slots[i]}.join(", ") %>
  </dd>
  <dt>Shift Totals</dt>
  <dd> <%= @shift_counts.collect{|person, count| "<b>#{person}:</b> #{count}"}.join(" &nbsp; ") %> </dd>
</dl>

</div>
</div>

<% for week in 0..(@weeks-1) %>

<div class="row">
<div class="col-md-12">

<p>
  <div class="btn-group">
    <b>Double Timers&nbsp;</b>
  </div>
  <div class="btn-group">
    <% @people.each do |person| %>
    <button type="button" class="btn <%= @shift.on_point(week).include?(person) ? "btn-info" : "btn-default" %>">
    <%= person %>
    </button>
    <% end %>
  </div>
</p>

<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th> Week:<%= week %> </th>
    <% for day in @shifts[week][:dates] %>
    <th> <%= day %> </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Morning</td>
      <td><%= @shifts[week][:schedule][0] %></td>
      <td><%= @shifts[week][:schedule][2] %></td>
      <td><%= @shifts[week][:schedule][4] %></td>
      <td><%= @shifts[week][:schedule][6] %></td>
      <td><%= @shifts[week][:schedule][8] %></td>
    </tr>
    <tr>
      <td>Afternoon</td>
      <td><%= @shifts[week][:schedule][1] %></td>
      <td><%= @shifts[week][:schedule][3] %></td>
      <td><%= @shifts[week][:schedule][5] %></td>
      <td><%= @shifts[week][:schedule][7] %></td>
      <td><%= @shifts[week][:schedule][9] %></td>
    </tr>
  </tbody>
</table>

</div>
</div>

<% end %>
<% end %>

