
<div class="row">
<div class="col-md-12">

<h2>People</h2>
<hr/>

<form class="form-horizontal" role="form" action="/" id="people_form" method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="year">Year</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="year" id="year" value="<%= @year %>">
    </div>
    <p class="help-block">Begining the first week in this year</p>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="weeks">Weeks</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" name="weeks" id="weeks" value="<%= @weeks %>">
    </div>
    <p class="help-block">Shifts even out every 28 weeks for 7 people</p>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="slot_name_0">&nbsp;</label>
    <div class="col-sm-2"> <p><b>Monday</b></p> </div>
    <div class="col-sm-2"> <p><b>Tuesday</b></p> </div>
    <div class="col-sm-2"> <p><b>Wesnesday</b></p> </div>
    <div class="col-sm-2"> <p><b>Thursday</b></p> </div>
    <div class="col-sm-2"> <p><b>Friday</b></p> </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="slot_0">Morning</label>
  <% for slot_id in [0,2,4,6,8] %>

    <div class="col-sm-2">
      <input type="text" class="form-control" name="slot_<%= slot_id %>" id="slot_<%= slot_id %>" value="<%= @people_slots[slot_id] %>">
    </div>

  <% end %>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" for="slot_name_5">Afternoon</label>
  <% for slot_id in [1,3,5,7,9] %>

    <div class="col-sm-2">
    <input type="text" class="form-control" name="slot_<%= slot_id %>" id="slot_<%= slot_id %>" value="<%= @people_slots[slot_id] %>">
    </div>

  <% end %>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Refresh</button>
    </div>
  </div>
</form>

</div>
</div>

<% if @shifts.present? %>

<div class="row">
<div class="col-md-12">

<h2>Weekly Schedule</h2>
<hr/>

<dl class="dl-horizontal">
  <dt>Start</dt>
  <dd><%= @start %></dd>
  <dt>End</dt>
  <dd><%= @end %></dd>
  <!-- <dt>Rotating Shifts</dt> -->
  <!-- <dd> -->
    <!-- <%#= @shift.rotating_shifts.collect{|i| @slots[i]}.join(", ") %> -->
  <!-- </dd> -->
  <dt>Rotating Shift Totals</dt>
  <dd>
  <% @rotating_shift_counts.each do |slot_id, totals| %>
  <span class="label label-default col-xs-2">
    <%= @slots[slot_id] %>
  </span>
  <%= totals.collect{|person, count| %{<span class="label label-default col-xs-1">#{person} #{count}</span>} }.join(" &nbsp; ") %>
  <br/>
  <% end %>
  </dd>
  <dt>Shift Totals</dt>
  <dd> <%= @shift_counts.collect{|person, count| "<b>#{person}:</b> #{count}"}.join(" &nbsp; ") %> </dd>
</dl>

</div>
</div>

<% for week in 0..(@weeks-1) %>

<div class="row">
<div class="col-md-12">

<p>
  <div class="btn-group">
    <b>Double Timers&nbsp;</b>
  </div>
  <div class="btn-group">
    <% @people.each do |person| %>
    <button type="button" class="btn <%= @shift.on_point(week).include?(person) ? "btn-info" : "btn-default" %>">
    <%= person %>
    </button>
    <% end %>
  </div>
</p>

<table class="table table-condensed table-hover">
  <thead>
  <tr>
    <th> Week:<%= week %> </th>
    <% for day in @shifts[week][:dates] %>
    <th> <%= day %> </th>
    <% end %>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Morning</td>
      <td><%= @shifts[week][:schedule][0] %></td>
      <td><%= @shifts[week][:schedule][2] %></td>
      <td><%= @shifts[week][:schedule][4] %></td>
      <td><%= @shifts[week][:schedule][6] %></td>
      <td><%= @shifts[week][:schedule][8] %></td>
    </tr>
    <tr>
      <td>Afternoon</td>
      <td><%= @shifts[week][:schedule][1] %></td>
      <td><%= @shifts[week][:schedule][3] %></td>
      <td><%= @shifts[week][:schedule][5] %></td>
      <td><%= @shifts[week][:schedule][7] %></td>
      <td><%= @shifts[week][:schedule][9] %></td>
    </tr>
  </tbody>
</table>

</div>
</div>

<% end %>
<% end %>

