<p>Start: <%= @start %></p>
<p>End: <%= @end %></p>
<p><%= (@end - @start).to_f %> days</p>

<p>People: <%= @people %></p>
<p>
Preferred Time Slots:
<% @preferred_slots.each do |person, slot| %>
<ul>
  <li><%= person %>: <%= @slots[slot] %></li>
</ul>
<% end %>
</p>

<hr/>

<% for week in 0..(@weeks-1) %>
<%# for week in 0..7 %>

<table class="table table-striped">
  <thead>
  <tr>
    <th> Week:<%= week %> </th>
    <% for day in [1,2,3,4,5] %>
    <th> <%= (@start + (week*7).days + day.days).strftime("%A - %m/%d/%Y") %> </th>
    <% end %>
  </tr>
  </thead>
  <% shift_slots = @shift.schedule(week) %>
  <tbody>
    <tr>
      <td>Morning</td>
      <td><%= shift_slots[0] %></td>
      <td><%= shift_slots[2] %></td>
      <td><%= shift_slots[4] %></td>
      <td><%= shift_slots[6] %></td>
      <td><%= shift_slots[8] %></td>
    </tr>
    <tr>
      <td>Afternoon</td>
      <td><%= shift_slots[1] %></td>
      <td><%= shift_slots[3] %></td>
      <td><%= shift_slots[5] %></td>
      <td><%= shift_slots[7] %></td>
      <td><%= shift_slots[9] %></td>
    </tr>
  </tbody>
</table>

<p>
  <b>Double Timers:</b> <%= @shift.on_point(week).join(", ") %>
</p>

<hr/>
<% end %>


